
body{
background-image: url(https://images.unsplash.com/photo-1445251836269-d158eaa028a6?q=80&fm=jpg&s=c645084ebd2afb4dd9c35cf610888c5c);

}


section{

	width: 35em;
	margin: auto;
}

h1{

	color: red;
}


p{
	font-family: fantasy;
}


